<script type="text/javascript" src="{{ url_for('static', filename='js/clappr.min.js') }}"></script>

<div id="clapprPlayerRR" class="clappr-container">
  <div class="player-title">ОНЛАЙН КАМЕРА НА ЖД ПЕРЕЕЗДЕ В ПОС. ПАРКОВЫЙ</div>
</div>
<p></p>
<div id="clapprPlayer">
  <div class="player-title">ОНЛАЙН КАМЕРА В РАЙОНЕ ПАМЯТНИКА ПОГРАНИЧНЫМ ВОЙСКАМ</div>
</div><p></p>
<div id="clapprPlayerRST">
  <div class="player-title">ОНЛАЙН КАМЕРА - ПАМЯТНИК ЖЕЛЕЗНОДОРОЖНИКАМ</div>
</div><p></p>
<div id="clapprPlayerGorpark">
  <div class="player-title">ОНЛАЙН КАМЕРА - ГОРОДСКОЙ ПАРК</div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/adaptive-video-player.js') }}"></script>
