<article id="kor">
    <h2>Кореновск</h2>

    <section class="address">
        <h3>адрес</h3>
        <div>353180, Краснодарский край, <br>
            <span class="ymaps-geolink">
                  город Кореновск, Фрунзе 29
            </span>
        </div>
    </section>

    <section class="phones">
        <h3>телефоны</h3>
        <ul>
            <li><span>общий</span><span>+7(918) 478-38-34</span></li>
            <li><span>касса</span><span>+7(918) 351-57-67</span></li>
            <li><span>факс</span><span>+7(86196)  7-44-43</span></li>
        </ul>
    </section>

    <section class="email">
        <h3>электронная почта</h3>
        <ul>
            <li>
                <span>техподдержка</span>
                <a href="mailto:noc@tih.ru">noc@tih.ru</a>
            </li>
        </ul>
    </section>
</article>