<article>
    <section class="schedule">
        <h3>график работы</h3>

        <table class="sch-entrties">
            <thead>
                <tr>
                    <td colspan="2"></td>
                    <td>суббота</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="dp-name">касса</td>
                    <td>8:00 - 17:30</td>
                    <td>9:00 - 15:00</td>
                </tr>
                <tr>
                    <td class="dp-name">бухгалтерия</td>
                    <td>8:00 - 17:00</td>
                    <td class="dayoff">-</td>
                </tr>
                <tr>
                    <td class="dp-name">монтажники</td>
                    <td>8:00 - 17:00</td>
                    <td class="dayoff">-</td>
                </tr>
                <tr>
                    <td class="dp-name">инженеры</td>
                    <td>9:00 - 18:00</td>
                    <td class="dayoff">-</td>
                </tr>
                <tr>
                    <td class="dp-name">техподдержка</td>
                    <td colspan="2">круглосуточно</td>
                </tr>
            </tbody>
        </table>
    </section>
</article>