<article id="tih">
    <h2>Тихорецк</h2>

    <section class="address">
        <h3>адрес</h3>
        <div>
            352120, Краснодарский край, <br>
            <span class="ymaps-geolink"
                  data-description="через дорогу от проходной КубаньХлеб">
                город Тихорецк, Энгельса 109/1
            </span>
        </div>
    </section>

    <section class="phones">
        <h3>телефоны</h3>
        <ul>
            <li><span>общий</span><span>+7(86196) 7-44-43</span></li>
            <li><span>дежурный</span><span>+7(918) 255-65-19</span></li>
            <li><span>факс</span><span>+7(86196) 7-44-43</span></li>
        </ul>
    </section>

    <section class="email">
        <h3>электронная почта</h3>
        <ul>
            <li>
                <span>техподдержка</span>
                <a href="mailto:noc@tih.ru">noc@tih.ru</a>
            </li>
            <li>
                <span>отдел продаж</span>
                <a href="mailto:sale@tih.ru">sale@tih.ru</a>
            </li>
        </ul>
    </section>
</article>