{% extends "users/_base.html" %}
{% set title = "Помощь при оплате картой" %}

{% set description = "Инструкция по оплате услуг банковской картой через форму на сайте" %}

{% set keywords = "ТелеТайм, помощь, вопросы, faq, help, оплата, банковская карта, Сбербанк, visa, mastercard,
карта МИР" %}

{% set top_active = "users" %}

{% block add_styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users/help.css') }}">
{% endblock %}

{% block sidebar %}
    <div id="sidebar">
    {{ left_menu(left_links, 'help')  }}
    {% include 'pay_panel.html' %}
    {% include 'tp_panel.html' %}
    </div>
{% endblock %}

{% block content %}
<div id="content">
    <h2>Круглосуточная служба технической поддержки:</h2>

    <table style="color: #940000;">
        <tr>
            <td>+7(918) 255-65-19</td>
            <td></td>
        </tr>
        <tr>
            <td>+7(918) 478-38-34</td>
            <td></td>
        </tr>
        <tr>
            <td>+7(86196) 7-44-43</td>
            <td>Тихорецк</td>
        </tr>
    </table>
    <!-- ====================================================================-->
    <h2 id="cardpay">Оплата услуг банковской картой</h2>

    <div class="help-topic-body">
        <p>
            В разделе
            <a href="{{ url_for('users') }}">Абоненту</a> слева есть форма
            оплаты услуг банковской картой с двумя полями:
        <ul>
            <li>
                <samp>лицевой счёт</samp> - номер лицевого счёта, присвоенный
                при заключении договора
            </li>
            <li>
                <samp>сумма в рублях</samp> - сумма желаемого платежа, не менее
                10 рублей
            </li>
        </ul>
        <p>
            По нажатию кнопки
            <samp style="color: white; background-color: green; border: none">
            оплатить</samp>, справа появится описание платежа
            <div class="screeshot">
                <img src="{{url_for('static', filename='images/users/help/pay_confirm.png')}}">
            </div>

        <p>
            <strong>ВНИМАТЕЛЬНО</strong> сверьте номер лицевого счёта и имя абонента со своими данными,
            убедитесь, что Вы не ошиблись услугой.
        <p>
            поле <samp>e-mail или телефон...</samp> - не обязательное, здесь Вы можете указать контакт,
            на который Вам будет выслан кассовый чек (на e-mail - письмо от ОФД со ссылкой на чек на сайте ОФД,
            на телефон - SMS с реквизитами чека для проверки на www.nalog.ru)
        <p style="text-align: right">
            <strong>за услуги КТВ на данный момент на сайте оплата не принимается</strong>
        <p>
            По нажатию кнопки
            <samp style="color: white; background-color: green; border: none">продолжить</samp>
            Вы будете перенаправлены на страницу с формой банка эквайринга для заполнения реквизитов карты.
        <div class="screeshot">
            <img src="{{url_for('static', filename='images/users/help/payform.png')}}">
        </div>
        <ul>
            <li>
                <samp>Заказ № ...</samp> - уникальный номер платежа
            </li>
            <li>
                <samp>л/с: ... </samp> - кто и за что
                платит,<br> <strong>ВНИМАТЕЛЬНО</strong> сверьте номер лицевого
                счёта и имя абонента со своими данными
            </li>
            <li>
                <samp>... Р</samp> - сумма, которая будет списана с
                карты банком эквайринга, может отличаться от фактической суммы,
                списываемой банком - эмитентом (выдавшим карту), в случае, если
                банк - эмитент взимает за эту операцию комиссию (зависит от
                банка, который выдал карту, но обычно комиссия не взимается).
            </li>
            <li>
                <samp>E-mail</samp> - Ваш e-mail, на который будет выслан чек, и который
                будет использован в качестве логина в случае, если Вы ранее сохраняли данные карты
                (это не обязательное поле - часть формы банка, рассылка писем с квитанциями осуществляется банком)
            </li>
            <li>
                <samp>Номер</samp> - указан на лицевой стороне Вашей карты
            </li>
            <li>
                <samp>Месяц/год</samp> - номер месяца и год окончания
                обслуживания карты, есть на лицевой стороне карты
            </li>
            <li>
                <samp>CVC2/CVV2</samp> - трёхзначный номер на обратной стороне
                карты
            </li>
            <li>
                <samp>Запомнить карту</samp> - сохранить данные карты на сервере Сбербанка,
                по нажатию будет предложено ввести номер телефона
            </li>
            <li>
                кнопка <samp style="color: white; background-color: orangered">
                Оплатить</samp> - по нажатию кнопки Вы либо будете
                перенаправлены на ACS страницу банка - эмитента (обычно это
                подтверждение через SMS), либо увидите сообщение об ошибке, если
                что-то пошло не так
            </li>
        </ul>
        <div class="screeshot">
            <img src="{{url_for('static', filename='images/users/help/acs.png')}}">
        </div>
        <p>
            После авторизации на ACS странице банка - эмитента Вы увидите
            сообщение с номером и статусом платежа: "успешно обработан", либо
            с текстом ошибки.
        <div class="screeshot inline">
            <img src="{{url_for('static', filename='images/users/help/pay_ok.png')}}">
        </div>
        или
        <div class="screeshot inline">
            <img src="{{url_for('static', filename='images/users/help/pay_fail.png')}}">
        </div>
        <p>
            В случае, если платёж успешно обработан, баланс вашего лицевого
            счёта пополнится сразу.
        <p>
            Если платёж был отклонён, отменён, либо в процессе
            оплаты произошли какие-то ошибки, деньги с карты списаны не будут.
        <p>
            При любых нештатных ситуациях звоните в
            <a href="{{ url_for('users_help') }}">службу технической поддержки</a>.
    </div>
    <!-- ====================================================================-->
    <h2 id="card_mir">Держателям карты <img src="{{ url_for('static', filename='images/mir.png') }}" alt=""></h2>

    <div class="help-topic-body">
        <p>
            При оплате услуг картой платёжной системы <a href="http://mironline.ru/card">«МИР»</a>
            могут возникнуть проблемы с авторизацией платежа, так как используемая система Интернет-эквайринга
            обслуживает только карты, поддерживающие протокол Visa 3-D Secure.
        </p>
        <p>
            Если Ваша карта не поддерживающие протокол Visa 3-D Secure, авторизация платежа будет отклонена.
        </p>
    </div>
    <!-- ====================================================================-->
    <h2 id="trusted">Доверительный платёж</h2>

    <div class="help-topic-body">
      <p>
        Функция доверительного платежа предназначена для предоставления временного доступа к сети Интернет абонентам
        с заблокированным лицевым счётом по причине отрицательного баланса.
      </p>
      <p>
        Активация доступна только один раз в месяц в период с 1-го по 14-е число включительно
        при условии, что у абонента отсутствует задолженность за услуги, предоставленные ранее и нет сгоревших
        доверительных платежей за последние три месяца.
      </p>
      <p>
        После активации доверительного платежа, баланс лицевого счёта корректируется на сумму, достаточную для снятия
        системной блокировки услуг.
      </p>
      <p>
        Дата сгорания доверительного платежа - 15 число месяца, после чего с баланса лицевого счёта списывается сумма,
        равная ранее произведённой корректировке. Если до указанной даты не было внесено платежей, то баланс снова
        примет отрицательное значение, что повлечёт повторную блокировку услуг.
      </p>
      <p>
        В случае сгорания доверительного платежа (не был погашен до 15 числа), доступ к услуге доверительного платежа
        приостанавливается сроком на три месяца.
      </p>
    </div>
    <!-- ====================================================================-->
</div>
{% endblock %}
