{% extends "_parts/_base.html" %}
{% set title = "О компании" %}

{% set description = "ООО ТелеТайм - современные услуги в области связи и информационных технологий:
безлимитный Интернет, кабельное телевидение, видеонаблюдение в Тихорецке и Кореновске" %}

{% set keywords = "ТелеТайм, связь, Интернет, безлимитный Интернет, телевидение, видеонаблюдение, видеоконтроль,
провайдер, Тихорецк, Кореновск, Парковый, Зелёный, Садовый, Кубанский, Шоссейный, Терновская,
Интернет в частном секторе" %}

{% set top_active = 'about' %}

{% block add_styles %}
    {{ super() }}
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/news_pan.css') }}" />
    <style>
        table {
            color: #940000;
            display: inline-table;
            margin-right: 10ex;
            font-size: 13pt;
        }

        table caption {
            text-align: left;
        }

        td  {
            padding-left: 3ex;
        }
    </style>
{% endblock %}

{% from "_parts/_snippets.html" import news_pan %}

{% block sidebar %}
<div id="sidebar">
    {{ news_pan(news_titles) }}
</div>
{% endblock %}

{% block content %}
<div id="content">
    <h2>О компании</h2>

    <p>
        Телекоммуникационный холдинг ООО «ТелеТайм» существует с 21 сентября 1998 года.
        Сегодня – это крупный холдинг, объединивший телекоммуникационные сети в городах Кореновске и Тихорецке,
        предоставляющий современные услуги связи: высокоскоростной безлимитный интернет, телевидение,
        высокое качество сервиса и обслуживания.

    <h2>Сеть ООО «ТелеТайм»</h2>

    <p>
        Универсальная сеть КТВ – первая в Тихорецке сеть, позволяющая предоставлять комплекс услуг высшего уровня:
        возможность просмотра более 50 телеканалов различной тематики. На базе собственной волоконно-оптической сети
        созданы широкополосные распределительные сети (телевизионные и Интернет), таким образом, посредством
        «коаксиального» кабеля (телевизионного) и кабеля «витая пара» (Интернет) каждая квартира может быть подключена
        к магистральной волоконно-оптической сети.

</div>
{% endblock %}
